
body {
	background-image: url('../../Images/ocean.jpe');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #000305;
	line-height: 1.5;
	text-align: left;
	margin: 0 auto;
	width: 70%;
	clear: both;
}

.h2, h2 {
	font-size: 21px;
}

h4 {
	color: #404040;
}


#image {
	width:30%;
	height: auto;
	margin: 2% 0;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.navbar {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.navbar-default {
	background-color: #5ec4f3;
	border: none;
}

.navbar-default .navbar-nav li a{
	color: #fff;
}

.navbar-default .navbar-nav li a:hover{
	color: #fff;
	background-color: #0074f0;
}

.navbar-default .navbar-nav li a:visited{
	color: #fff;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus,  .navbar-default .navbar-nav > .open > a:hover {
	background-color: #0074f0;
	color: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.navbar-nav > li > .dropdown-menu {
	background-color: #5ec4f3;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
	background-color: #0074f0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}


a {
	text-decoration: none;
}

a:link, a:visited {
	color: #0074f0;
}

a:hover, a:active {
	background-color: #0074f0;
	color: #FFF;
	padding: 2px 4px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-decoration: none;
}

.mainContent {
	line-height: 25px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 87.5% !important; /*Base font size is 14px*/
}

aside {
	font-size: 87.5% !important; /*Base font size is 14px*/
}

.content{
	width: 70%;
	float: left;
}

.content header{
	color: #5ec4f3;
}

.topcontent {
	background-color: #FFF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 3% 5%;
	margin-top: 2%;
}

.post-info {
	font-style: italic;
	color: #999;
	font-size: 90%;
}

.bottomcontent {
	background-color: #FFF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 3% 5%;
	margin-top: 2%;
}

.top-sidebar {
	width: 21%;
	float: left;
	background-color: #FFF;
	color: #0fb3ff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: 15px 0 2% 3%;
	padding: 2% 3%;
	filter: alpha(opacity=80);
	opacity: 0.8;
}

.middle-sidebar {
	width: 21%;
	float: left;
	background-color: #FFF;
	color: #0fb3ff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: 0 0 2% 3%;
	padding: 2% 3%;
	filter: alpha(opacity=80);
	opacity: 0.8;
}

.bottom-sidebar {
	width: 21%;
	float: left;
	background-color: #FFF;
	color: #5ec4f3;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: 0 0 2% 3%;
	padding: 2% 3%;
	filter: alpha(opacity=80);
	opacity: 0.8;
	
}	

.mainFooter {
	width: 100%;
	height: 40px;
	float: left;
	background-color: #5ec4f3;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 2% 0;
	
}
	
.mainFooter p {
	width: 92%;
	margin: 10px auto;
	color: #FFF;
}

@media only screen and (min-width: 150px) and (max-width: 700px){
	
	.body {
		width: 90%;
		font-size: 95%;
	}
	
	#image {
		width:100%;
	}

	.content{
		width: 100%;
		float: left;
		margin-top: 2%;
	}

	.topcontent {
		margin-top: 2%;
		margin-bottom: 4%;
	}

	.post-info {
		display: none;
	}

	.bottomcontent {
		margin-top: 3%;
		margin-bottom: 2%;
	}
	
	.top-sidebar, .middle-sidebar , .bottom-sidebar {
		width: 94%;
		margin: 2% 0 2% 0;
		padding: 2% 3%;
	}
	
	.mainFooter p {
		width: 100%;
		padding: 0% 0% 4% 3%;
		color: #FFF;
		font-size: 90%;
	}
}

	




