

body {
	padding: 50px 0px;
	font-size: 100%;
	font-style: Arial, 'Lucida Sans Unicode';
	background-image: url('../Images/contactpagebg.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
    background-repeat: no-repeat;
}

a {
	text-decoration: none;
}

a:link, a:visited {
	color: #00feff;
}

a:hover, a:active {
	background-color: #00feff;
	color: #FFF; /* White */
	padding: 2px 4px;
	
}

.mainheader nav {
	background-color: rgba(0, 102, 102, 0.4);
	height: 40px;

}

.mainheader nav ul{
	list-style:none;
	margin:0 auto;
	float: right;
}

.mainheader nav ul li{
	float: left;
	display: inline;
}

.mainheader nav a:link, .mainheader nav a:visited {
	color: #FFF; /*white*/
	display: inline-block;
	padding: 10px 25px;
	height: 20px;
}

.mainheader nav a:hover, .mainheader nav a:active, .mainheader nav .active a:link, .mainheader nav .active a:visited {
	background-color: #00feff
	text-shadow: none;
}



h2 {
	margin-bottom: 20px;
	color: #FFF;
}

input, textarea, select {
	padding:10px;
	border: 1px solid #E5E5E5;
	width: 200px;
	color: 999999;
	-webkit-box-shadow: rgba(0,0,0,0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0,0,0,0.1) 0px 0px 8px;
	box-shadow: rgba(0,0,0,0.1) 0px 0px 8px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	
}

select {
	width: 220px;
}

textarea {
	width: 400px;
	height: 150px;
	max-width: 400px;
	line-height: 10px;
}

input:hover, textarea:hover, select:hover, input:focus, textarea:focus, select:focus {
	border-color: 1px solid #C9C9C9;
	-webkit-box-shadow: 0px 0px 10px #00feff inset;
	-moz-box-shadow: 0px 0px 10px #00feff inset;
	box-shadow: 0px 0px 10px #00feff inset ;
}

.form label {
	margin-left: 10px;
	color: #FFF;
}

.submit input {
	width: 100px;
	height: 40px;
	background-color: #006666;
	color: #FFF;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

.mainFooter a:hover, .mainFooter a:active {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.mainFooter {
	width: 100%;
	height: 40px;
	float: left;
	background-color: rgba(0, 102, 102, 0.4);
	margin: 2% 0;
	
}
	
.mainFooter p {
	width: 92%;
	margin: 10px auto;
	color: #FFF;
}



@media only screen and (min-width: 150px) and (max-width: 700px) and (orientation: portrait)
{
	body {
		width: 96%;
		font-size: 80%;
		padding: 2%;
		margin:0;
	}
	
	textarea {
		padding: 2% 1%;
		width: 98%;
	}
	
	.submit input {
		width: 100%;
	}
	
	.mainheader nav {
		height: 120px;	
	}

	.mainheader nav ul{
		padding-left: 0;
		float: none;
	}

	.mainheader nav ul li{
		width: 100%;
		text-align: center;
		float: none;
	}

	.mainheader nav a:link, .mainheader nav a:visited {
		padding: 10px 25px;
		height: 20px;
		display: block;
	}
	
	.mainFooter {
	width: 100%;
	height: 40px;
	float: inital;
	}
}

@media only screen and (min-width: 100px) and (max-width: 700px) and (orientation: landscape)
{
	body {
		width: 96%;
		font-size: 80%;
		padding: 2%;
		margin:0;
	}
	
	textarea {
		padding: 2% 1%;
		width: 98%;
	}
	
	.submit input {
		width: 100%;
	}
	
	.mainheader nav {
		height: 120px;	
	}

	.mainheader nav ul{
		padding-left: 0;
		float: none;
	}

	.mainheader nav ul li{
		width: 100%;
		text-align: center;
		float: none;
	}

	.mainheader nav a:link, .mainheader nav a:visited {
		padding: 10px 25px;
		height: 20px;
		display: block;
	}
	
	.mainFooter {
	width: 100%;
	height: 40px;
	float: inital;
	}
}

