body {
	margin: 0px;
	font-family: proxima-nova-n6,proxima-nova,sans-serif;
	font-style: normal;
	font-size: 16px;
	line-height: 26px;
}

p {
	font-weight: lighter;
}

#navbarheader {
	margin: 0px;
	border-radius: 0px;
}

#logo {
	font-size: 36px;/*Not Working due to Botstrap*/
	font-weight: 700;
	padding-left: 100px;
}

#backgroundImage {
    height: 345px;
    background-image: url('../Images/landingpagebanner.jpg');
    background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
	margin-bottom: 5%;
}

#text {
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 5%;
}
#text h1 {
	font-weight: 600;
}

#first {
	color: #357ad9;
}

#second {
	color: #2da1dc;
}

#bottomselections {
	margin-left: 10%;
	margin-right: 10%;
	display: table;
	
}

#bottomselections h2 {
	color: #357ad9;
	text-align: center;
}

#bottomselections a {
	color: #357ad9;
	text-decoration: none;
}

#aboutme {
    width: 33%;
	padding-right: 6%;
}

#webmaster {
    width: 33%;
	padding-left: 3%;
	padding-right: 3%;
}

#github {
    width: 33%;
	padding-left: 6%;
}

input {
	height:60px;
	width: 250px;
	color: #FFF;
	background-color: #357ad9;
	font-size: 16px;
	text-transform:uppercase;
}

input:hover {
	-webkit-box-shadow: 0px 0px 20px 10px rgba #2da1dc;
	-moz-box-shadow: 0px 0px 20px 10px #2da1dc;
	box-shadow: 0px 0px 20px 10px #2da1dc;
	
}

#bottom {
	margin-top: 4%;
    background-color: #222;
	height: 100px;
}

#mainfooter {
	height: 70px;
	background-color:#BCBEC0;
	overflow: hidden;
}

#mainfooter a {
	text-decoration: none;
	color: #FFF;
	padding: 0 10px;
}

#mainfooter a:hover, a:active {
	background-color: #357ad9;
}

#mainfooter p {
	padding-top: 25px;
	padding-left: 25px;
}

@media only screen and (min-width: 150px) and (max-width: 1000px) and (orientation: portrait)
{

#logo {
	padding-left: 0px;
}	
	
#backgroundImage {
	height: 100px;
}

h1 {
	font-size: 20px;
	font-weight: 400;
}	

#bottomselections p {
	font-size: 14px;
	text-align:center;
}

#aboutme {
    width: 100%;
	padding-right: 0%;
	padding-left: 0%;
	
}

#webmaster {
    width: 100%;
	padding-left: 0%;
	padding-right: 0%;
}

#github {
    width: 100%;
	padding: 0%;
}

input {
	width: 100%;
	margin: auto;
}

#bottom {
	height: 50px;
}

#mainfooter {
	height: 40px;
}

#mainfooter p {
	padding-top: 2%;
	padding-left: 1%;
	font-size: 12px;
}

}

@media only screen and (min-width: 150px) and (max-width: 1000px) and (orientation: landscape)
{

#logo {
	padding-left: 0px;
}	
	
#backgroundImage {
	height: 100px;
}

h1 {
	font-size: 20px;
	font-weight: 400;
}	

#bottomselections p {
	font-size: 14px;
	text-align:center;
}

#aboutme {
    width: 100%;
	padding-right: 0%;
	padding-left: 0%;
	
}

#webmaster {
    width: 100%;
	padding-left: 0%;
	padding-right: 0%;
}

#github {
    width: 100%;
	padding-left: 0%;
}

input {
	width: 100%;
	margin: auto;
}

#bottom {
	height: 50px;
}

#mainfooter {
	height: 40px;
}

#mainfooter p {
	padding-top: 2%;
	padding-left: 1%;
	font-size: 12px;
}

}