
body {
	background-image: url('../Images/guestbookbg.jpe');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
    background-repeat: no-repeat;
	color: #FFF;
}

a {
	text-decoration: none;
}

a:link, a:visited{
	color: #FFF;
}

a:hover, a:active {
	background-color: #FFF;
	color: #7ba693;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 0px 5px;
}

.mainheader nav {
	width: 200px;
	float: right;

}

.mainheader nav ul{
	list-style:none;
	margin:0;
	padding: 0;
}

ul.parent > li {
	background-color: #7ba693;
	text-align: center;
	display: block;
	border-style: solid;
	padding: 1%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: 5px;
}

ul.child {
    display: none;
	list-style: none;
}

.child li:nth-child(2){
	margin: 5px 0;
}


.mainheader nav a:link, .mainheader nav a:visited {
	color: #FFF;
	
}

.mainheader nav a:hover, .mainheader nav a:active {
	background-color: #FFF;
	color: #7ba693;
	border-style: solid;
	width: 10%;
	border-color: #7ba693;
	padding: 1%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: 5px;
}

h1 {
	background-color: rgba(123,166,147,0.5);
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	padding: 1% 1%;
	width: 50%;
}

.languages {
	background-color: rgba(123,166,147,0.5);
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	width: 50%;
}

textarea {
	padding: 30px;
	-webkit-border-radius: 80px;
	-moz-border-radius: 80px;
	border-radius: 80px;
	width: 75%;
}

input {
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	height: 25px;
	width: 230px;
	padding: 0px 1%;
}
label {
	color: #000000;
}

form {
	background-color: rgba(255,255,255,0.5);
	padding: 2% 1%;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	width: 75%;
}

.instructions p {
	color:#FFF;
	background-color: rgba(123,166,147,0.5);
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	padding: 1% 1%;
	width: 50%;
}

.submit input {
	height: 35px;
	width: 110px;
}

.table {
	color:#000000;
	border: 0; 
	width: 75%;
}

.table a:link {
	color: #7ba693;
}

.table a:hover, .table a:active {
	color: #FFF;
	background-color:#7ba693;
}

.mainfooter {
	background-color: #7ba693;
	width: 25%;
	padding: 0px 1px 0px 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

@media only screen and (min-width: 150px) and (max-width: 900px) and (orientation: portrait)
{
	/*Background-attachment:fixed and background-size:cover do not work on IOS7 because they have been disabled due to the high repaint cost, 
	which decimates scrolling performance*/
	body {
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
	}
	
	.mainheader nav {
	height: 3%;
	width: 100%;
	}
	
	.title, .languages{
		font-size:85%;
		padding: 4% 4%;
		width: 95%;
	}
	
	form {
	padding: 2% 1%;
	width: 95%;
	}

	
	textarea {
	padding: 30px;
	width: 65%;
	}

	input {
		height: 25px;
		width: 65%;
		padding: 0 2%;
		margin-top: 2%
	}
	
	.instructions p {
	padding: 2% 2%;
	width: 90%;
	font-size:85%;
	}
	
	#datetime {
		display: none;
	}
	
	 .table {
		 width:100%;
	 }
	
	.mainfooter {
		width: 100%;
		padding: 0px 1px 0px 3px;
	}
	
}

@media only screen and (min-width: 150px) and (max-width: 900px) and (orientation: landscape)
{
	/*Background-attachment:fixed and background-size:cover do not work on IOS7 because they have been disabled due to the high repaint cost, 
	which decimates scrolling performance*/
	body {
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
	}
	
	.mainheader nav {
	height: 3%;
	width: 100%;
	}
	
	.title, .languages{
		font-size:85%;
		padding: 4% 4%;
		width: 95%;
	}
	
	form {
	padding: 2% 1%;
	width: 95%;
	}

	
	textarea {
	padding: 30px;
	width: 65%;
	}

	input {
		height: 25px;
		width: 65%;
		padding: 0 2%;
		margin-top: 2%
	}
	
	.instructions p {
	padding: 2% 2%;
	width: 90%;
	font-size:85%;
	}
	
	#datetime {
		display: none;
	}
	
	 .table {
		 width:100%;
	 }
	
	.mainfooter {
		width: 100%;
		padding: 0px 1px 0px 3px;
	}
	
}